@import "./styles/variables.scss";

.box {
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.title {
  font-family: $archivoBlack;
  font-size: 50px;
  line-height: 54px;
  text-align: center;
}

.button {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.25);
  width: 133px;
  height: 50px;
}

@media (max-width: $xs-screen) {
  .background {
    display: none;
  }
}