@import './styles/variables.scss';

.text {
  font-family: $poppins;
  color: $white;
}

.title {
  font-family: $poppins;
  color: $white;
  font-weight: 900;
  letter-spacing: 1px;
}

.imageDiv {
  background-color: $orange;
  border-radius: 50%;
}