@import './styles/variables.scss';

.background {
  //background: linear-gradient(113.49deg, #A60321 -30.3%, #1F0B25 58.12%);
  //background-image: url('/assets/images/background.png');
  position: relative;
}

.background-1::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.title {
  font-family: $archivoBlack;
}

.text {
  font-family: $poppins;
}


.card_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-out 250ms;
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        background-color: #1d161b;
        padding: 4px;
        border-radius: 5px;
    }
}

.card {
  transition: transform 400ms, opacity 250ms;
  position: relative;
  background: #1d161b;
  height: fit-content;
}

.card::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #1d161b;
  opacity: .2;
  position: absolute;
  z-index: 2;
  left: 0;
  transition: opacity 300ms ease-in-out;
}

.card:hover::after {
  opacity: 0;
}

.card_image {
  display: block;
  transition: opacity ease 300ms;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card:hover .card_image {
  opacity: 0.4;
  
}

.card:hover .card_text {
  opacity: 1;
}

