@import './styles/variables.scss';

.title {
  font-family: $archivoBlack;
}

.text {
  font-family: $poppins;
}

.background {
  background: linear-gradient(113.49deg, #A60321 -30.3%, #1F0B25 58.12%);
  height: 80vh;
}