@import './styles/variables.scss';

.title {
  font-family: $archivoBlack;
}

.text {
  font-family: $poppins;
}

.button {
  background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: $poppins;
}

.button:hover {
  background: linear-gradient(214.02deg, #B05369 6.04%, #671AE4 92.95%);
  transition: 3s;
}

.background {
  background: linear-gradient(113.49deg, #A60321 -30.3%, #1F0B25 58.12%);
  height: 80vh;
}