@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  color: $white;
  text-align: center;
  font-family: $archivoBlack;
  line-height: 1;
}

h2 {
  color: $white;
  font-family: $archivoBlack;
  line-height: 1;
}

h3 {
  color: $white;
  font-family: $archivoBlack;
  font-size: 30px;
}

h4 {
  color: $white;
  font-family: $poppins;
}

h5 {
  color: $white;
}

h6 {
  color: $white;
}

p {
  color: $white;
  font-family: $poppins, sans-serif;
}

a {
  color: $white;
  text-decoration: none;
  font-family: $poppins, sans-serif;
  transition: transform ease 0.2s;
  background-image: linear-gradient(#fff, #fff);
  background-position: 0 100%;
  background-size: 0 2px;
  background-repeat: no-repeat;
}

a:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-position: 100% 100%;
  background-size: 100% 2px;
  transition: 300ms;
}

img {
  object-fit: cover;
  object-position: 50% 50%;
}

.empty-font {
    -webkit-text-stroke: 2px $white;
    color: transparent;
}

.main-bg {
  position: relative;
}

.main-bg::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('/assets/images/stars_bg.png');
  background-position: 50% 0;
}

.page-bg {
  background: linear-gradient(113.49deg, #A60321 -30.3%, #1F0B25 58.12%);
}

.clamp-h1 {
  font-size: clamp(50px, 100%, 64px);
}

//Button Styles
button, .button {
  background: $main-purple;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: $poppins;
  transition: transform 0.4s, background 1s;
  color: $white;

  &:hover {
    transform: scale(1.1);
    background: $hover-purple;
  }
}

#carousel-arrow {
  box-shadow: none; 
  padding: 6%;
  background: $main-purple;

  &:hover {
    transform: none;
    background: $hover-purple;
  }
}

.carousel__slide {
  min-height: 17rem;
}

//Form Styles. Remove after refactor
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%;
  position: relative;
  bottom: 22vh;
}

.item { width: 100%; }

.item.half { width: 47%; }

.input {
  border: 3px solid #ccc;
  border-radius: 50px;
  height: 40px;
  width: 100%;
  transition: 300ms;
  background-color: transparent;
  padding: 25px 15px;
  color: $white;
  font-family: $poppins;
}

.input.error {
  border: 3px solid #cc0017;
  background-color: #cc001712;
  font-weight: 600;
}

.input_box {
  border: 3px solid #ccc;
  background-color: transparent;
  border-radius: 30px;
  height: 80%;
  width: 100%;
  padding-left: 10px;
}

textarea {
  padding: 15px 20px 15px 40px;
  font-family: $poppins;
  color: $white;
}

.error_message {
  font-size: clamp(16px, 0.2em, 22px);
  color: #cc0017;
}

.error-message {
  color: #cc0017;
  font-family: $poppins, sans-serif;
  padding-left: 10px;
}

.message {
  min-height: 3em;
  border: 1px solid;
  border-radius: 2px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message h2 { font-size: clamp(24px, 0.2em, 30px); }
.message p { font-size: clamp(16px, 0.2em, 24px); }

.message.error {
  background-color: #cc001712;
  color: #cc0017;
  border: 2px solid #cc0017;
}

.message.succeed {
  background-color: #1ec61e40;
  color: #33a533;
  border: 2px solid #33a533;
}

@media (max-width: 480px) {
  .item, .item.half { width: 100%; }

  .input_button {
      height: 6vh;
      width: 50vw;
      display: block;
      margin: auto;
  }

  .form {
    position: initial;
    width: 70%;
  }
}
