
//Colors
$white: #FFF;
$main-green: #CFE1DF;
$primary-pink: #F7F5F5;
$button-pink: #E7CCBF;
$orange: rgba(217, 179, 70, 0.2);

//Fonts
$brandonBlack: 'Brandon grotesque black';
$brandonRegular: 'Brandon grotesque regular';
$archivoBlack: 'Archivo Black';
$poppins: 'Poppins';
$poppins9: 'Poppins9';

// @font-face {
//   font-family: 'Brandon grotesque black';
//   font-style: normal;
//   src: url('/assets/fonts/brandon-grotesque-black.otf');
// }

// @font-face {
//   font-family: 'Brandon grotesque regular';
//   font-style: normal;
//   font-weight: 400;
//   src: url('/assets/fonts/brandon-grotesque-light.otf');
// }

@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ArchivoBlack-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins9';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Poppins-Medium.ttf');
}
//@font-face {
//  font-family: 'Archivo Black';
//  font-style: normal;
//  font-weight: 400;
//  src: url('/assets/fonts/brandon-grotesque-light.otf');
//}
